<?xml version="1.0"  encoding="ISO-8859-1"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">

<!-- Declare the existence of a servlet. -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.iastate.servlet.loginServlet.class</servlet-class>
  </servlet>

  <!-- Map URLs to that servlet. -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>