<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.iastate.cysquare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentWelcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CheckIn"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StudentFriends"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StudentProfile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".StudentClasses"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateUser"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UnapprovedInstructorWelcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InstructorWelcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InstructorProfile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InstructorCurrentCheckIns"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".InstructorPostQuestion"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminWelcome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminProfile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminClasses"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminUsers"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AdminReset"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Notifications"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateClass"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
